@model List<PlcData>
@using Modbus.Data

@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-3">
    <h3 class="d-inline-flex text-primary">Plc Data</h3><span class="text-secondary ml-2" style="font-size:16px">Last 25 records</span>
    <a class="btn btn-danger float-right" href="/Data/DeleteAll">Delete All</a>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>D1</th>
            <th>D2</th>
            <th>D3</th>
            <th>D4</th>
            <th>D5</th>
            <th>D6</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var data in Model)
        {
        <tr>
            <td>@($"{data.D1/10:#,##0.0}")</td>
            <td>@($"{data.D2/10:#,##0.0}")</td>
            <td>@($"{data.D3/10:#,##0.0}")</td>
            <td>@($"{data.D4/10:#,##0.0}")</td>
            <td>@($"{data.D5/10:#,##0.0}")</td>
            <td>@($"{data.D6/10:#,##0.0}")</td>
            <td>@data.CreationDate.ToShortDateString()<br />@data.CreationDate.ToString("hh:mm:ss tt")</td>
        </tr>
        }
    </tbody>
</table>

